
.prev,
.next {
  display: none;
}

.slideshow-container {
  position: absolute;
  top: 238px;
}

.slideshow-container img {
  height: 270px;
  padding: 3px 7px;
}

main .container {
  position: relative;
  top: 280px;

  min-width: 325px;
  max-width: 395px;
}

main .container img {
  width: 375px;
  height: 170px;
}

main .container-title-header {
  width: 375px;
}

main .container-list i.fa{
  display: inline-block;
  font-size: 2rem;
  position: absolute;
  right: 15px;
  line-height: 1.2;
}

main .main-container-banners { 
  top: 250px;
  margin-top: 20px;
}

main .container ul li {
  margin: 0px auto;
}

main .main-container--social-media {
  top: 250px;
}

.main-container--social-media h1 {
  font-size: 1.5rem;
  padding: 6px;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  /* grid-gap: 6px; */
  padding: 26px 0;
}

/* main .social-media i.fa {
  width: 40px;
  padding: 7px;
  font-size: 2.6rem;
} */



footer {
  top: 240px;
}


footer .footer-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

footer .footer-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-right li {
  text-align: center;
  list-style-type: none;
}

.img-log-UTyP {
  max-width: 130px;
}

.img-log-SICyT {
  width: 240px;
}

.img-log-ISO {
  width: 282px;
}

footer .footer-copyright {
  display: flex;
}

footer .footer-site-map {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.footer-division {
  display: grid;
  grid-template-columns: 1fr; 
  margin-left: 0;
  margin-top: 0;

}

footer .footer-site-map h2 {
  margin-left: 0;
}

footer .copyright {
  font-weight: 800;
  font-size: 1.6rem;
}

@media screen and (min-width: 720px) {
  main .main-container-banners { 
    top: 250px;
    margin-top: 20px;
  
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 305px));
  }

  .social-media {
    display: grid;
    grid-template-columns: repeat(4, 132px);
    grid-gap: 8px;
  }

  .footer-container-banners {
    padding: 14px 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(288px, 305px));
    grid-gap: 10px;
    place-content: center;
    margin-right: 10px;
  }

  .footer-container--card {
    margin-left: 10px;
  }

}