
header {
  width: 100%;
  height: 123px;
  margin: 0 auto;
}


header .nav-logo img {
  width: 420px;
  position: absolute;
  top: 13px;
  left: 20px;
}

 header .nav-logo-anniversary-outside img {
  width: 120px;
  position:absolute;
  top: 10px;
  right: calc(25% - 50px);
  display: block;
}

nav .nav-logo-anniversary-inside img {
  display: none;
}

header nav .nav-menu li {
  line-height: 35px;
  position: relative;
  top: 115px;
}

header nav ul li {
  width: 100%;
  text-align: center;
  text-emphasis: none;
  color: #fff;
  text-transform: uppercase;
  padding: 25px;
  font-weight: 600;
}

header nav .nav-menu li a{
  font-size: 1.8rem;
}

main {
  
}

main .slideshow-container {
  position: relative;
  top: 160px;
  padding: 4px;
}

main .slideshow-container {
  width: 100%;
  display: block;
}

main .slideshow-container img {
  max-width: 760px;
  height: 320px;
  padding: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .main-container-banners {
  position: relative;
  top: 330px;
  padding: 22px 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 375px));
  grid-gap: 12px;
  place-content: center;
}

main .container {
  position: relative;
  top: 325px;
  margin: 0;
}

main .container img {
  width: 360px;
  height: 160px;
}

main .container-title-header {
  width: 360px;
}

main .container-list {
  width: 350px;
  padding: 0;
}

main .container-list i.fa {
display: inline-block;
font-size: 2rem;
position: absolute;
right: 12px;
line-height: 1.6;
}

main .container-list ul {
  padding: 0;
  margin-bottom: 25px;
}

main .container ul li {
  margin: 0px auto;
  list-style: none;
  border-bottom: 1px solid #fff;
  background-position: 0 0;
  line-height: 1.6;
}


main .container ul li, .container ul li a {
  font-weight: bold;
  color: green;
  padding: 2px;
  font-size: 1.5rem;
}


main .main-container--social-media {
  top: 330px;
}

.main-container--social-media h1 {
  font-size: 1.4rem;
  padding: 8px;
}


main .main-container--title-blur {
  width: 350px;
  border-radius: 0 0 8px 8px;
  color: #faf7f5f5;
}

footer {
  top: 330px;
}
.footer-container-banners {
  padding: 22px 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 345px));
  grid-gap: 12px;
  place-content: center;
}

footer .footer-site-map {
  margin-top: 20px;
}

@media screen and (min-width: 890px) {
  footer .footer-partners {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    margin-left: 0;
  }
  footer .footer-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    width: 350px;
  }

  .img-log-jalisco {
    width: 120px;
  }

  footer .footer-site-map {
    max-width: 375px;
    line-height: 1.6;
    margin-bottom: 110px;
  }

  .footer-division {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    margin-left: 0;

  }
  .footer-site-map ul li a {
    text-decoration: none;
    font-size: 1.6rem;
  }

  .footer-contact p {
    font-size: 1.6rem;
  }
}

footer .copyright {
  font-weight: 800;
  font-size: 1.8rem;
  
}